body{
font-family: cursive;
text-align: center;
background-color: black;
font-size: 2em;
  }
  h1{
    color: #990000
    margin: 0  auto;
    color: white;
  }
  h3{
      color: #47B5FF
      }
  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 10px;
    width: 10%;
  }
  .image img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border:10px
  }
  strong{
    color: white;
  }
